# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.cxx

*.exe
*.bat

difsim

#eclipse files
CMakeFiles/
.cproject
.project
.settings/
cmake_install.cmake
CMakeCache.txt
Makefile

#visual studio files
*.vcxproj
*.vcxproj.filters
*.sln
Debug/
EPol.*
Win32/

CMakeLists.txt.user*